.tracker {
  width: 100%;
  overflow:hidden;
  display: flex;
  position: relative;
  transition: 1s;
  
  &::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: 0;
    transition: 1s;
    filter: contrast(75%) saturate(75%);
  }
  
  // Fornalha Infernal
  &.fornalha::before {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/544d80b0-8234-4de6-81ea-ae4e195b0c06/d3c2g93-28b9a1ae-05d6-40cd-9451-645718df421c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU0NGQ4MGIwLTgyMzQtNGRlNi04MWVhLWFlNGUxOTViMGMwNlwvZDNjMmc5My0yOGI5YTFhZS0wNWQ2LTQwY2QtOTQ1MS02NDU3MThkZjQyMWMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.hmwNf2iPu5mMPBVRnME_sVt2iudTZWhmxjNJeqJ2avM');
    background-position: 75% 35%;
    background-size: 250%;
  }
  // Altar da Ruína
  &.altar::before {
    background-image: url('https://i.ytimg.com/vi/2uIpyAhOpIQ/maxresdefault.jpg');
    background-position: 100% 40%;
    background-size: 220%;
  }
  // Torre das Ilusões
  &.ilusoes::before {
    background-image: url('https://i.ytimg.com/vi/-RNxWYHHmTI/maxresdefault.jpg');
    background-position: 45% 10%;
    background-size: 150%;
  }
  // Covil do Berkas
  &.berkas::before {
    background-image: url('http://4.bp.blogspot.com/-KnqIRahO4yQ/UI3YnNA73yI/AAAAAAAAAJ8/G5EnGiUxP3E/s1600/LS555.png');
    background-position: 80% 20%;
    background-size: 170%;
  }
  // Terra do Julgamento
  &.harkyon::before {
    background-image: url('https://i.imgur.com/nhGKBn2.png');
    background-position: 10% 0%;
    background-size: 150%;
  }
  // Torre da Extinção
  &.extincao::before {
    background-image: url('https://cdn.akamai.steamstatic.com/steamcommunity/public/images/clans/40811643/6626d037a477ae485cda3127feb1b3786d245497.png');
    background-position: 5% 16%;
    background-size: 300%;
  }

  &.desaturated::before {
    filter: contrast(75%) saturate(25%);
  }

  &.blurred::before {
    filter: contrast(75%) saturate(25%) blur(2px);
    transform: scale(1.1);
  }

  &.hidden::before {
    filter: contrast(75%) saturate(25%) blur(2px) brightness(55%);
    transform: scale(1.3);
  }

  .stars {
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin: 4px;
      fill: grey;
      font-size: 24px;
      transition: 1s;
      cursor: pointer;
    }
  }
}